* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-image: url('./img/bg-rick-morty.png');
  background-size: cover;
  background-position: center;
}

form {
  margin-bottom: 20px;
  background-color: rgb(0,0 ,0,0.2 );
  padding: 20px;
  border-radius: 10px;
  width: fit-content;
  color: aliceblue;
}

#questionsList li {
  margin-bottom: 20px;
}

#questionsList p {
  margin-bottom: 10px;
}

#questionsList label {
  margin-right: 10px;
}

#result {
  margin-top: 20px;
}

#resultImage {
  max-width: 200px;
  display: block;
  margin-top: 10px;
}

.error {
  color: red;
}

.character-result{
  color: white;
}

.question-text {
  color: greenyellow; /* Defina a cor que você deseja para as perguntas */
  font-weight: bold; /* Se você quiser que o texto das perguntas seja em negrito */
  margin-bottom: 10px; /* Adicione algum espaçamento inferior para separar das opções */
}

input[type="radio"],
button[type="submit"] {
  cursor: pointer;
}