* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-image: url('./img/bg-rick-morty.png');
  background-repeat: no-repeat;
  background-size: cover;
  
}

form {
  margin-bottom: 20px;
  background-color: rgb(0,0 ,0,0.2 );
  padding: 20px;
  border-radius: 10px;
  width: fit-content;
  color: aliceblue;
}

#questionsList li {
  position: relative;
  margin-bottom: 20px;
}

#questionsList p {
  margin-bottom: 10px;
}

#questionsList label {
  position: relative;
  right: 28px;
}

#result {
  margin-top: 20px;
}

#resultImage {
  max-width: 200px;
  display: block;
  margin-top: 10px;
}

.error {
  color: red;
}

.character-result{
  color: white;
}

.question-text {
  color: greenyellow;
  font-weight: bold;
}

input[type="radio"],
button[type="submit"] {
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
  background-color: greenyellow;
  border: none;
  color: black;
  width: 10vh;
}